<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Service Class</key>
	<string>monkaS</string>
	<key>Emoticons</key>
	<dict>
		<key>monkas-png.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>monkaS</string>
			</array>
			<key>Name</key>
			<string>monkaS</string>
		</dict>
		<key>peepoclap.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>peepoclap</string>
			</array>
			<key>Name</key>
			<string>peepoclap</string>
		</dict>
		<key>peepoLeave.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>peepoLeave</string>
			</array>
			<key>Name</key>
			<string>peepoLeave</string>
		</dict>
		<key>KEKW.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>KEKW</string>
			</array>
			<key>Name</key>
			<string>KEKW</string>
		</dict>
		<key>poggers.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>POGGERS</string>
			</array>
			<key>Name</key>
			<string>POGGERS</string>
		</dict>
		<key>poggies.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>poggies</string>
			</array>
			<key>Name</key>
			<string>poggies</string>
		</dict>
		<key>bibleThump.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>bibleThump</string>
			</array>
			<key>Name</key>
			<string>bibleThump</string>
		</dict>
		<key>givePLZ.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>givePLZ</string>
			</array>
			<key>Name</key>
			<string>givePLZ</string>
		</dict>
		<key>feelsRainMan.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>feelsRainMan</string>
			</array>
			<key>Name</key>
			<string>feelsRainMan</string>
    </dict>
		<key>PogChamp.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>PogChamp</string>
			</array>
			<key>Name</key>
			<string>PogChamp</string>
		</dict>
	</dict>
</dict>
</plist>
